<div class="container">
    <h4>Emails par utilisateurs avec descriptif</h4>
    <p>

    </p>
    <hr>
    <div class="row">
        <div class="col s12">
            <!-- besoin de boucler ! -->
            <div ng-repeat="user in ::$ctrl.users track by $index">
                <div class="row padding">
                    <div class="col s6">
                        <div class="valign-wrapper name"><i class="small material-icons">person</i>
                            <h5 class="marge">{{::(user.name.first + " " + user.name.last)}}</h5>
                        </div>
                        <div class="valign-wrapper"><i class="small material-icons">work</i>
                            <h5 class="marge">{{::(user.company)}}</h5>
                        </div>
                    </div>
                    <div class="col s6">
                        <div class="valign-wrapper name"><i class="small material-icons">email</i>
                            <h5 class="marge">{{::(user.email)}}</h5>
                        </div>
                        <div class="valign-wrapper"><i class="small material-icons">phone</i>
                            <h5 class="marge">{{::(user.phone)}}</h5>
                        </div>
                    </div>
                </div>
                <div class="notes">
                    <div class="scroll">
                        <h5>Notes</h5>
                        <div ng-repeat="note in user.notes track by $index">
                            <div>
                                <div><span>{{$index + 1}}</span></div>
                                <p>{{note}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>